/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Color */
    --primary: #020617;
    --secondary: #f1f5f9;
    --accent: #f87171;
    --buttonAccent:#f1f5f9;
    --buttonAccentHover: #cbd7e7;
    --customBorder: #78716c;
  }



  body {
    font-family: 'Poppins', sans-serif;
  }
  .text-title{
    @apply text-lg font-bold
  }

  .font-logoFont {
    font-family: 'Dancing Script', cursive;
    @apply
    hover:bg-none
  
  }

  /* Home Page Start */

  .home--Content{
    @apply
    flex
    flex-row
    
    items-start
    w-full
    h-full
  }

  /* Home Page End */


  /* NavBar Start*/
  .navBar--Content{
    @apply 
    flex flex-row items-start
    border-r
    w-auto
    h-screen
    fixed
  }
  .navBarItem{
    @apply w-64
  }
 
  .search--content{
    @apply p-8 border border-accent absolute w-[400px] h-full fixed left-[80px]
  }
  .text--title{
    @apply text-lg font-bold
  }
  .navBar--Content ul{
    @apply
    h-screen
    cursor-pointer
  }
  .navBar--Content li{
    @apply
    m-3
    p-3
    rounded-sm
    hover:bg-secondary
    
  }
  .icon--navBar{
    @apply
    mr-3
    text-2xl
    
  }
  .li--navBar{
    @apply
    text-lg
  }

  /* NavBar End */


  /* Feed Start */
  .feed--Content{
    @apply
    /* col-span-2 */
    border
    h-screen
    w-full
    ml-64
    overflow-auto
  }
  .header--Content{
    @apply flex flex-row justify-between
  }

  /* Feed End */

  /* Header Feed Start */
  .headerFeed--Content{
    @apply
    border
    rounded-md
    shadow-lg
    m-8
    w-[70%]
    h-44
    p-8
  }

  .uploadBtn{
    @apply
    border-none
    bg-accent
    text-base
    text-white
    p-6
    w-full

   
    
  }
  

  .uploadBtn:hover, .mediaImg-Btn:hover {
    background-color: rgba(251, 208, 208, 0.816) !important;
    color: #f87171 !important;
  }
  
  .titleModal{
    @apply
    text-center
    font-semibold
    text-lg
  }

  /* ---------- media--Content*/
  .media--Content{
    @apply
    mt-3
    flex
    justify-items-start
    space-x-2
  }
  .media--Item button{
    @apply
    border-none
    p-5
    text-gray-500
    font-semibold
  }
  .media--Item i{
    @apply
    text-2xl
    p-2
  }

  .cancleBtn, .postBtn, .saveBtn{
    @apply
    px-6
    py-1
    rounded-sm
  }

  .cancleBtn{
    @apply
    border
    
    hover:bg-white
    hover:border-accent
    hover:text-accent
  }

  .postBtn, .saveBtn{
    @apply
    ml-2
    bg-accent
    text-white
    hover:bg-white
    hover:text-accent
    hover:border
    hover:border-accent
  }

  /* Header Feed End */

  /* Header Post */
  .headerPost{
    @apply
    mt-3
    flex
    flex-grow
    overflow-auto
    space-x-3
    h-16
    items-center
  }

  .avatar--Item{
    @apply
    w-14
    h-14
    rounded-full
    object-cover
    border-2
    border-customBor
  }

  .text--Username, .text--base, .text--span, .text--select, .nameFooterPost, .textTitle{
    @apply
    font-semibold
    text-sm

  }
  .headerPost--Item{
    @apply
    h-full
  }

  .privacy--Btn, .emotion--Btn{
    @apply
    border
    mt-1
    py-1
  }
  .privacy--Btn, .emotion--Btn{
    @apply
    hover:border-accent !important;
    /* hover:text-accent !important; */
  }

.privacy--Btn:hover .privacy--Icon, 
.privacy--Btn:hover .privacy--Text,
.emotion--Btn:hover .emotion--Text,
.emotion--Btn:hover .emotion--Icon { 
  color: #ff6f61; 
}


.hr-Modal{
  @apply
  mt-2
}

.postAudience--Content{
  @apply
  space-y-2
}

.text--base{
  @apply
  mt-3
}
.textDes{
  @apply
  tracking-wide
  leading-7
  text-justify
  text-gray-500
}
.priType--Content{
  @apply flex flex-col space-y-3
}
.privacyType--Content{
  @apply flex flex-col space-y-3 rounded-lg
  hover:bg-slate-100
}
.privacyType--Item{
  @apply flex justify-between m-2 space-x-3 items-center
  
}

.item--content{
  @apply flex space-x-4
}

.item--Icn{
  @apply w-14 h-14 border rounded-full text-3xl  bg-slate-200 text-center pt-2
}

.typeTitle{
  @apply text-base font-semibold
}
.text--privacyType{
  @apply text-gray-500 font-normal
}

.checkBoxItem{
  @apply w-5 h-5
  cursor-pointer
}

.bodyPost--Content{
  @apply w-full h-auto 
}

.descriptionPost{
  @apply w-full px-2 h-28
  outline-none 
  
}
.descriptionPost::placeholder{
  color: #78716c;
  font-size: 16px;
  font-weight: 300;
}

.footerPost--Content{
  @apply mt-10 border rounded-lg py-3 px-2 h-auto
  flex flex-row justify-between
}

.upImg{
  @apply text-3xl
}

.iconHeaderPost{
  @apply flex flex-row justify-start space-x-2
}

.authTem--Content{
  @apply flex
}
.loginBtn{
  @apply
  bg-accent
  mr-5
  relative
  top-8 rounded-lg text-white font-bold 
  px-10
  py-3
  hover:bg-white hover:border hover:border-accent hover:text-accent
  transition duration-300
  ease-out
}

/* .feedMain--Content{
  @apply
  flex flex-col space-y-4
  w-[80%] border m-auto
} */
.feedMain--Content{
  @apply
  flex flex-col space-y-8
  mx-8
  w-[70%]
  h-auto
  p-8
}
.feedMain--Item{
  @apply border
  w-[80%] m-auto
  rounded-md
  shadow-lg
  h-auto
  p-5
  space-y-3
}
.head--Item{
  @apply flex flex-row justify-between
  w-full
}

.item--Content{
  @apply flex flex-row justify-start justify-items-center items-center space-x-2
}

.circle--item{
  @apply w-2 h-2 bg-customBor rounded-full
}
.text--hours{
  @apply text-gray-400
}
.feedMore--Btn{
  @apply border-none text-5xl text-customBor 
  
}
.feedMore--Btn:hover .more--IconItem{
  color: var(--accent);
}

.img--Slide{
  @apply object-cover w-[100%] h-[100%]
}

.interact--item{
  @apply flex flex-row justify-between items-center text-2xl
}
.interact--content{
  @apply flex flex-row items-center space-x-5 
}
.interact--Icon--item{
  @apply hover:text-accent
}

.input--search{
  @apply flex flex-row justify-start items-center space-x-2
  mt-8
}
.search--input{
  @apply outline-none bg-gray-200 p-3 rounded-l-full
  placeholder:text-gray-700 w-[260px]
}
.input--icon{
  @apply bg-gray-200 h-12 w-20 text-center text-2xl 
  leading-10
}
















  

  
  



}
